<div class='col'>
  <%= form_with url: '', method: :get, data: { turbo_frame: 'rankings' } do |form| %>
    <div class='form-floating'>
      <%= form.search_field :query, value: params[:query], oninput: 'this.form.requestSubmit()', class: 'form-control' %>
      <%= form.label :query, 'Rechercher un joueur' %>
    </div>
  <% end %>
</div>
