<div class='row'>
  <div class='d-flex flex-row bg-dark text-white text-uppercase'>
    <div class='col col-1 text-center border-end border-secondary py-3'>Rank</div>
    <div class='col border-end border-secondary py-3 ps-2'>Player</div>
    <div class='col col-2 py-3 ps-2'>Score</div>
  </div>
</div>
