<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class='col'>
    </div>
    <div class='col-1'>
      <%= image_tag 'logo_navbar', width: '110' %>
    </div>
    <div class='col'>
    </div>
  </div>
</nav>
